/* Media quaries */


@media screen and (max-width: 600px) {
       
       .container{
               max-width: 560px;
               padding: 0 10px;
               
       }
     
       .single-player{
               margin-bottom:5px;
       }
       
       .players-grid{
                grid-template-columns: repeat(1, 1fr);
              
                
       }
       article.single-blog{
                width: calc(100% - 20px);

       }

       /* this is for the column reponsive  */
       .all-courses {
               flex-flow: column;
               padding:0 10px;

       }
       
       .single-course {
               width:calc(100% - 10px);
               margin-bottom:15px;
    }
}
