/* declration for fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
        margin:0;
        padding:0;
        font-family: 'Poppins', sans-serif;
        background: #F3F1FF;
}
*{
        box-sizing: border-box;
}

.container{
        /* max width set for the proper resonsiveness */
        max-width:870px; 
        margin:0 auto;
}
h1, h2, h3, h4, h5, h6{
        margin:0;
}
p{
        margin:0;
}
ul{
        padding:0;
}
li{
        list-style: none;
}

/* Main css starts */
header{
        background: #562EFF;
}
.header-elements{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
header .logo{
       display: flex;
       align-items: center;
}

.logo img{
        width:40px;
        height: auto;
}
.logo span.logo-name{
        color:#fff;
        font-weight: bold;
        font-size: 20px;
        margin-left:10px;
}

.menu ul{
        display: flex;
        align-items: center;
}
.menu ul li{
     margin-right:15px;
}
.menu ul li:last-child{
        margin-right:0;
}

.menu ul li a{
        text-decoration:none;
        color: #fff;
        padding: 10px 15px;
        font-size:16px;
}

/* Player - blog section css */
/* players section */
.player-blog{
        
        
}
.player-blog-elements{
        background: #fff;
        padding: 25px;
        margin-top: 25px;
     
        border-radius: 5px;
}
.player-blog-elements h3{
        color:#562EFF;
        font-size: 20px;
}
.palyer{}
.palyer{}
.player h3{
        margin-bottom:30px;
}
.palyers-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        border-bottom:1px solid #D1D1D1;
        padding-bottom:25px;
        
}
.single-player{
        display: flex;
        align-items: center;
        
}
.single-player img{
        width:56px;
        height: 56px;
}
.single-player h4{
        font-size: 16px;
        font-weight: normal;
        margin-left:15px;
}

/* blog css */
.blog{}
.blog h3{
        padding:25px 0;
}
.all-blogs{
        display: flex;
       flex-direction: row;
       flex-wrap: wrap;
        margin-left: -10px;
        margin-right:-10px'
}
article.single-blog{
        width: calc(50% - 20px);
        display: flex;
        align-items: center;
        margin: 10px;
}       
article.single-blog .blog-thumb img{
        width:177px;
        height:auto;
}
.single-blog .blog-info{
        margin-left: 10px;
}
.blog-info p{
        color: #9F9F9F;
        margin-top: 10px;
}
.blog-info p span{
        color: #562EFF;
}

/* latest courses section csss */
.latest-courses{
        margin:15px 0;
       
       
}

.courses-elements{
        background: #fff;
        border-radius: 5px;
        padding: 25px;
}

.courses-elements h3{
        color: #562EFF;
        margin-bottom:25px;
}

.all-courses{
        display: flex;
        align-items: center;
        margin-left: -10px;
        margin-right: -10px;
}
.single-course{
        padding: 10px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 7px #000;
        flex: calc(33.33% - 10px);
        margin:0 10px;
}

.single-course .course-info{
        margin-top:10px;
}
.course-info p.course-author{
        color: #ED6B4F;
}
.course-thumb img{
        width: 100%;
        height: 104px;
}
.course-info .course-rating{
        display: flex;
        margin-top:15px;
        align-items: center;
        justify-content: space-between;
        
}
.course-rating .rating{
        display: flex;
        align-items: center;
}
.rating p{
        margin-left:5px;
}
.course-hour{
        display: flex;
        align-items: center;
        background: rgba(237, 107, 79, 0.47);
        padding: 0 5px;
        border-radius: 15px;
        font-size: 13px;
}
.course-hour i{
        margin-right:5px;
}
.rating i.filled{
        color: #FFC014;
}
.rating i.empty{
        color: #AEAEAE;
      
}